.contactList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
  padding: 0;
  /* background-color: white; */
}

.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.contactItem > span {
  width: 140px;
}

.buttonDelete {
  background-color: white;
}
